/* Sakura.css v1.5.0 - Spacemacs Theme Edition */

body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: #b2b2b2;
    /* Foreground */
    background-color: #292b2e;
    /* Background */
}

hr {
    border-color: #4f97d7;
    /* Keywords */
}

a {
    text-decoration: none;
    color: #4f97d7;
    /* Keywords */
}

a:hover {
    color: #bc6ec5;
    /* Cursor */
    border-bottom: 2px solid #b2b2b2;
    /* Foreground */
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid #2aa1ae;
    /* Comments */
    margin-bottom: 2.5rem;
    background-color: #212026;
    /* Background */
}

/* Pre and Code */
pre {
    background-color: #212026;
    /* Background */
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 2.5rem;
    font-size: 0.9em;
    color: #b2b2b2;
    /* Foreground */
}

.button,
button,
input[type=submit],
input[type=reset],
input[type=button],
input[type=file]::file-selector-button {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid #4f97d7;
    /* Keywords */
    cursor: pointer;
    box-sizing: border-box;
    background-color: #292b2e;
    /* Background */
    color: #b2b2b2;
    /* Foreground */
}

.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
input[type=file]::file-selector-button:hover {
    background-color: #4f97d7;
    color: #292b2e;
}

textarea,
select,
input {
    color: #b2b2b2;
    background-color: #212026;
    border: 1px solid #212026;
    caret-color: #2aa198;
    /* Spacemacs cursor color */
}

input:focus,
textarea:focus {
    border: 1px solid #4f97d7;
}

::selection {
    background-color: #2aa198;
    /* Spacemacs cursor color */
    color: #292b2e;
    /* Dark background for contrast */
}

::-moz-selection {
    background-color: #2aa198;
    /* Spacemacs cursor color */
    color: #292b2e;
    /* Dark background for contrast */
}